<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Patient Notes</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row"><h2>Patient Notes</h2></div>
    <div class="row">
        <a th:href="@{/patientNotes/add/{patId}(patId=${patId})}" class="btn btn-primary">Add Note</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Note ID</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td th:text="${note.id}"></td>
                <td th:text="${note.note}"></td>
                <td>
                    <a th:href="@{/patientNotes/edit/{id}(id=${note.id})}" class="btn btn-success btn-sm">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
