<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Add Patient Note</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row"><h2>Add Note</h2></div>
  <div class="row">
    <form th:action="@{/patientNotes/add}" method="post">
      <input type="hidden" id="patId" name="patId" th:value="${patId}" required> <!-- Champ caché pour l'ID du patient -->
      <div class="form-group">
        <label for="note">Note:</label>
        <textarea class="form-control" id="note" name="note" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
  </div>
</div>
</body>
</html>
