<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patient List</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row"><h2>Patient List</h2></div>
    <div class="row">
        <a href="/viewPatients/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Family Name</th>
                <th>Given Name</th>
                <th>Date of Birth</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.family}"></td>
                <td th:text="${patient.given}"></td>
                <td th:text="${patient.dob}"></td>
                <td th:text="${patient.sex}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td>
                    <a th:href="@{/viewPatients/update/{id}(id=${patient.id})}" class="btn btn-success btn-sm">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
